<main class="body">
  <header class="header">
    <app-weather></app-weather>
    <app-current-date></app-current-date>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </header>
  <div class="logo">
    <div class="headline">SAN airplane </div>
    <img src="https://img.freepik.com/free-vector/sketch-plain-travelling_1308-86639.jpg?w=2000&t=st=1688282151~exp=1688282751~hmac=462a2c7720eab0e401cc4f0ce213f93f63e6c05904c6db3ca96ef0ff0c579961">
  </div>
  <router-outlet></router-outlet>  
</main>




